<div class="white_bg">
    <h2 class="page-header text-center">Welcome to Pegasusrises</h2>
    <div class="row" style="padding-bottom: 50px">
        <p class="h5 text-center">To create a server, click the button below to create your first server on Pegasusrises</p>
        <div class="text-center" style="margin: 50px 0">
            <button  id="ngJoyRide_1_gdrive"  data-effect="flipInX" class="effect-button col-lg-offset-4 col-lg-4 btn-lg btn btn-primary" lk-google-picker picker-files="files"><i class="fa fa-dashboard"></i>&nbsp;&nbsp;&nbsp;Create a server</button>
        </div>
        <p  class="text-center col-lg-offset-4 col-lg-4 blue_text"><em><i class="fa fa-warning"></i>  This will open Google Drive</em></p>
    </div>

    <div ng-show="files.length" class="row">
        <p class="text-center col-lg-offset-4 col-lg-4 green_text"><em><i class="fa fa-file"></i>  Selected filename : {{ files[files.length-1].name }}</em></p>
        <div  class="text-center" style="padding-bottom: 30px">
            <button id="ngJoyRide_2_upload" class="col-lg-offset-4 col-lg-4 btn-lg btn btn-warning" ng-click="uploadSheet()"><i class="fa fa-upload"></i>&nbsp;&nbsp;&nbsp;Send selected file's details</button>
        </div>
    </div>
    <div ng-show="files.length" class="row">
        <div  class="text-center" style="padding-bottom: 30px">
            <button class="col-lg-offset-4 col-lg-4 btn-lg btn btn-danger" ng-click="tabletop()"><i class="fa fa-upload"></i>&nbsp;&nbsp;&nbsp;Send selected file contents as JSON</button>
        </div>
    </div>
</div>


<div class="btn btn-warning" ng-show="files.length" ng-click="getFile()"> Get file from Google </div>
<div class="btn btn-primary" ng-click="testDataRetrieve()">Test Data form DB </div>

<pre>{{ returnedData.questions_details | json }}</pre>

<div ng-joy-ride="startJoyRide" config="configJoyRide" on-finish="onFinish()"  on-skip="onFinish()"></div>

