<div class="col-sm-12">
    <div class="block-web">
        <div class="header">
            <div class="actions hidden">
                <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a>
                <a href="#" class="close-down"><i class="fa fa-times"></i></a> </div>
            <h3 class="content-header">Survey Respondents</h3>
        </div>
        <div class="porlets-content">
            <form role="form" class="form-horizontal" ng-submit="sendEmail()">
                <div class="form-group">
                    <label class="col-sm-2 control-label " for="from">From</label>
                    <div class="col-sm-9">
                        <input type="email" ng-disabled="true" ng-model="respondent_form.from" id="from" class=" form-control" >
                    </div>
                </div><!--/form-group-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">Survey</label>
                    <div class="col-sm-9">
                        <select id="source" data-ng-model="respondent_form.survey" class=" form-control">
                                <!--<option value="">Select a survey</option>-->
                                <option value="{{ surveyName}}">{{surveyName}}</option>
                        </select>
                    </div><!--/col-sm-9-->
                </div><!--/form-group-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="emails">Recipients</label>
                    <div class="col-sm-9">
                        <tags-input
                                ng-model="respondent_form.emails"
                                displayProperty="email"
                                type="email"
                                placeholder="Add recipient email"
                                add-on-enter="true"
                                add-on-space="true"
                                add-on-comma="true"
                                add-on-blur="true"
                                add-on-paste="true"
                                allowed-tags-pattern="^([\w\-\.]+)@((\[([0-9]{1,3}\.){3}[0-9]{1,3}\])|(([\w\-]+\.)+)([a-zA-Z]{2,4}))$"
                                id="emails" class=""></tags-input>
                        <span class="help-block">Separate multiple email addresses with [COMMA] or [SPACE] or [TAB]</span>
                    </div>


                </div><!--/form-group-->


                <div class="form-group">
                    <div class=" col-sm-2 pull-right">
                        <button class="hidden btn btn-default" type="reset" ng-click="resetRespondentForm()">Cancel</button>
                        <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </div><!--/form-group-->
            </form>
        </div><!--/porlets-content-->
    </div><!--/block-web-->
</div>