<div class="row">

    <div class="col-lg-12 center">
        <section class="panel default blue_title h2">
            <div class="panel-heading border">{{ surveyName || ' '}}</div>
        </section>
    </div>

    <div class="col-md-6">
        <div class="widget_inbox">
            <ul>
                <li>
                    <a class="inbox_blue text-white-important widget_inbox_heading_left" href="">Survey Questions <span class="small">&nbsp;&nbsp;(<em> {{surveyData.questions_details.length  }} </em>)</span>
                        <span class="pull-right" ng-click="$state.go('surveys.analytics')"><i class="fa fa-cog"></i></span>
                    </a>
                </li>
                <li ng-repeat="question_item in surveyData.questions_details"> <a href="" ng-class="{'active' : question_item.question_field == selected_question.question_field}" ng-click="selectQuestion(question_item)">
                    <div class="widget_inbox_header">
                        <span class="pull-left widget_inbox_time"><b>{{ $index + 1 }}</b></span>
                        <span class="pull-right widget_inbox_time">{{ question_item.question_type }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Question
                    </div>
                    {{ question_item.question }}</a></li>

            </ul>
        </div>
    </div>

</div>

