<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title> A Development Test HTML File by Aliu</title>
	<link rel="stylesheet" href="">
</head>
<body>

<h3>A  Test Form for Uploading A CSV FIle</h3>

<form action="postcsv" method="post" accept-charset="utf-8" enctype="multipart/form-data">

	<input type="file" name="csv_import" value="csv_import" placeholder="upload file">

	<input type="submit" name="submit" value="submit">
</form>

</body>
</html>
